<div class="container mt-4">
  <div class="row">
    <div class="col-lg-12">
      <a href="http://test.com.pl">
        <img src="../../../assets/BanerPoziomy.PNG" alt="miejsce na baner reklamowy" class="card-img-top" height="180"
          width="42">
      </a>
    </div>
  </div>
</div>



<div class="container mt-4">
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-6">
      <a href="http://test.com.pl">
        <img src="../../../assets/BanerPionowy.PNG" alt="miejsce na baner reklamowy" class="card-img-top" height="350"
          width="180">
      </a>
      <a href="http://test.com.pl">
        <img src="../../../assets/BanerPionowy.PNG" alt="miejsce na baner reklamowy" class="card-img-top" height="350"
          width="180">
      </a>
      <a href="http://test.com.pl">
        <img src="../../../assets/BanerPionowy.PNG" alt="miejsce na baner reklamowy" class="card-img-top" height="350"
          width="180">
      </a>
      <a href="http://test.com.pl">
        <img src="../../../assets/BanerPionowy.PNG" alt="miejsce na baner reklamowy" class="card-img-top" height="350"
          width="180">
      </a>
    </div>

    <div class="col-lg-10 col-md-8 col-sm-6">
      <div class="container mt-4"></div>
      <div class="row">

        <div *ngFor="let user of users" class="col-lg-2 col-md-4 col-sm-6">
          <app-user-card [user]='user'></app-user-card>
        </div>
      </div>
    </div>
  </div>
</div>
